{% include 'layout/header.html' %}
{% include 'layout/sidebar.html' %}

<div class="main-content">
  <section class="section">
    <div class="section-header">
      <h1>Edit Category</h1>
    </div>

    <div class="section-body">
      <div class="col-12 col-md-12 col-lg-12">
        <div class="card">
          <form method="POST" action="/process_edit_category">
            <div class="card-body">
              <div class="form-group">
                <input type="hidden" class="form-control" name="form_id" value="{{data_category[0]}}">
                <label>Product Name</label>
                <input type="text" class="form-control" name="form_name" required="" value="{{data_category[1]}}">
              </div>
              <div class="card-footer text-left">
                <input type="submit" value="Sumbit" class="btn btn-primary">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>

{% include 'layout/footer.html' %}