{% include 'layout/header.html' %}

{% include 'layout/sidebar.html' %}

<!-- Ini untuk Content -->
<div class="main-content">
  <section class="section">
    <div class="section-header">
      <h1>Edit Data Product</h1>
    </div>

    <div class="section-body">

      <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
          <div class="card">
            <form method="POST" action="/process_edit_product" enctype="multipart/form-data">
              <div class="card-body">

                <div class="form-group">
                  <input type="hidden" class="form-control" name="form_id_product" value="{{data_product[0]}}">
                  <label>Product Name</label>
                  <input type="text" class="form-control" name="form_product_name" required="" value="{{data_product[2]}}">
                </div>

                <div class="form-group">
                  <label>Category Name</label>
                  <select name="form_id_category" class="form-control">
                    {% for row in category %}
                    <!-- Kalau id_kategori di tbl_barang sama dengan id_kategori di tbl_kategori, maka otomatis terselect -->
                    <option value="{{row[0]}}"
                    {% if data_product[1] == row[0] %} selected {% endif %}>
                      {{ row[1] }}
                    </option>
                    {% endfor %}
                  </select>
                </div>

                <div class="form-group">
                  <label>Price</label>
                  <input type="text" class="form-control" name="form_price" required="" value="{{data_product[3]}}">
                </div>

                <div class="form-group">
                  <label>Description</label>
                  <input type="text" class="form-control" name="form_description" value="{{data_product[4]}}">
                </div>

                <div class="form-group">
                  <label>Product Stock</label>
                  <input type="text" class="form-control" name="form_product_stock" value="{{data_product[5]}}">
                </div>

                <div class="form-group">
                  <label>Upload Image</label>
                  <input type="file" name="form_image" id="" class="form-control">
                </div>


              <div class="card-footer text-left">
                <input type="submit" value="Submit" class="btn btn-primary"></input>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </section>
</div>
<!-- Ini untuk Tutup Content -->

{% include 'layout/footer.html' %}